################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
ngrok/ngrok.exe
rrms/lib/config/app_settings/development_app_settings.dart
rrms/pubspec.lock
