################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
ngrok/ngrok.exe
# rrms/lib/config/app_settings/app_settings.dart
# rrms/lib/config/app_settings/development_app_settings.dart
rrms/pubspec.lock
# RRMSAPI/src/RRMS.API/rrms-d79d6-firebase-adminsdk-y0bsn-59d247d1d6.json